__pycache__
*.pth
*.egg-info
build
dist
outputs/*
outputs1
datasets/*
!outputs/.gitkeep
!datasets/.gitkeep
robots
*deprecated*
*.ckpt
*.pt
*.zip
*.mp4
bert-base-uncased
franka_old
all_fk.obj
checkpoints/FoundationPose
*.swp
examples/*
assets/franka/parts
assets/fr3/parts
anygrasp_cache
assets/fr3/parts/*.ply
GraspGen_cache
*113
.TimeRecord
traj_outputs
.vscode
outputs.tar.gz
small-cup
checkpoints/sam3
checkpoints/checkpoint_detection.tar
docs/backup
pipelines/backup
aruco.jpg
*.html
README_*.md
backup_*
REAL-*