jupyterlab
ipywidgets


# Common Libraries
numpy
scipy
scikit-learn
scikit-image
pyyaml
ruamel.yaml
ninja
h5py
numba
pybind11

# CV Libraries
imageio
opencv-python
opencv-contrib-python
plotly
open3d
pyglet
pysdf

# Trimesh
trimesh
xatlas
rtree

# PyRender
pyrender
pyOpenGL==3.1.6
pyOpenGL_accelerate==3.1.6

meshcat
webdataset
omegaconf
pypng
Panda3D
simplejson
bokeh
roma
seaborn
pin
openpyxl
torchnet
wandb
colorama
GPUtil
imgaug==0.4.0
xlsxwriter
timm==1.0.15
albumentations==1.4.2
xatlas
nodejs
jupyterlab
objaverse
g4f
ultralytics==8.0.120
pycocotools==2.0.7
py-spy
pybullet
videoio==0.2.8
kornia
einops
transformations==2024.6.1
joblib
warp-lang==1.7

# For PyTorch3D
fvcore==0.1.5.post20221221
git+https://github.com/NVlabs/nvdiffrast.git
